/* Elemental tags */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto Light', Meiryo, 'SeoulNamsan L', '서울남산체 L',
                'Malgun Gothic', 'Segoe UI', sans-serif;
    font-weight: 200;
}
html, body {
    margin: 0;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
}

small {
    color: #666;
}
a > svg {
    cursor: pointer;
}
/* input fields */
input[type="email"], input[type="number"], input[type="password"], input[type="tel"],
input[type="url"], input[type="text"], input:not([type]), .input-field {
    padding: 0.5em 0.75em;
    border: none;
    border-bottom: 1px solid #f60;
}
/* Public-use classes */
main {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    padding: 0 32px;
}
main.narrow {
    width: 36rem;
}
main.with-aside {
    width: 720px;
    margin-left: calc(50vw - 512px);
    margin-right: 0;
    float: left;
}
aside {
    width: 304px;
    height: 100%;
    float: right;
}
.left.left {
    float: left;
}
.right.right {
    float: right;
}
/* Message boxes */
.message {
    padding: 1em;
    border-radius: 0.125em;
    box-shadow: 0 0 0.125em #000;
    background-color: #ccc;
}
.message-success {
    background-color: #9f6;
}

.message-error {
    background-color: #f96;
}
/* Buttons */
input[type="button"], input[type="submit"], input[type="file"]::-webkit-file-upload-button,
button, .button, .button-primary {
    display: inline-block;
    font: inherit;
    color: inherit;
    background: #ccc;
    text-decoration: none;

    border: solid #999;
    border-width: 0 0 0.1875em 0;
    border-radius: 0.125em;
    padding: 0.5em 1em;

    box-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button-primary.button-primary {
    background: #f93;
    border: solid #f60;
    border-width: 0 0 0.1875em 0;
}
.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    /* pointer-events: none; */
    display: block;
}
.icon-small {
    display: inline;
    width: 0.75em;
    height: 0.75em;
}
/* Navigation */
nav {
    position: fixed;
    top: 0;
    height: 5.5rem;
    width: 100%;
    background-color: rgba(255, 127, 0, 0.95);
    border-bottom: 1px solid #f60;
}

nav h1 {
    display: inline-block;
    color: #f60;
    font-size: 2rem;
    line-height: 1em;
    margin: 0.75em 0;
}

nav ul {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline-block;
    float: left;
}

nav li a, nav li.no-link {
    padding: calc(1.5rem - 0.75em) 1rem;
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

nav li input[type='text'][type='text'] {
    display: inline-block;
    font-size: 1em;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    border: none;
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
    -ms-filter: progid:DXImageTransform.Microsoft.Chroma(color=black);
}
  
nav input::-webkit-input-placeholder, nav input:-moz-placeholder,
nav input::-moz-placeholder, nav input:-ms-input-placeholder {
    color: #fff;
}

nav li a:hover, .current-page {
    color: #fff;
    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.75);
}

nav li.logo {
    color: #fff;
    font-size: 2em;
    line-height: 1em;
    vertical-align: top;
    display: block;
    float: none;
}

nav li.right {
    font-size: 0.75em;
}

nav .icon {
    width: 2rem;
    height: 2rem;
}
.form-list, .form-write {
    width: 100%;
}
/* form: login / signup (list type form) */

#form-list input[type="submit"] {
    float: right;
}

.form-list input[type="email"], .form-list input[type="number"],
.form-list input[type="password"], .form-list input[type="tel"],
.form-list input[type="url"], .form-list input[type="text"],
.form-list input:not([type]), .form-list .input-field {
    width: 70%;
}
.form-list .form-line label, div.form-line p.form-line label {
    display: inline-block;
    width: 30%;
    font-weight: bold;
}
.form-list .form-line:last-child {
    margin-top: 1.5em;
}
/* form: write */
.form-write input[name='title'] {
    font-size: 1.125em;
    width: 100%;
}
.form-write textarea {
    font: inherit;
    width: 100%;
    height: 16em;
    border: solid #f60;
    border-width: 0 0 0.0625em 0.0625em;
    resize: none;
}
.form-write > .form-line:last-child {
    float: right;
    text-align: right;
    width: 30%;
    margin: 2em 0;
}

/* Exchange */
#article-view h2 {
    padding-bottom: 0.25em;
    border-bottom: 0.0625em solid #999;
}
#article-view article {
    margin-bottom: 2em;
}
#article-view article .left {
    line-height: 2em;
}
#article-view .vote.vote {
    font-size: 1.25em;
    line-height: 1em;
    text-align: center;
}
#article-view .vote a:visited {
    color: #33f;
    fill: #33f;
}

#article-view article .left ~ section {
    margin-left: 3rem;
}
#article-view section.content {
    min-height: 6rem;
}
#article-view section.comment ul {
    margin: 0;
    padding: 0;
    max-height: 6em;
    overflow-y: scroll;
}
#article-view section.comment li {
    list-style: none;
    padding: 0.25em 0;
    border-bottom: 1px solid #ccc;
}
#article-view section.comment input {
    width: 100%;
}
input[id^='toggle-visible-comment'] + form {
    height: 0;
    transition: height 0.25s;
    overflow: hidden;
}
input[id^='toggle-visible-comment']:checked + form {
    height: 2em;
}
/* Exchange List */
#exchange-list article {
    height: 4rem;
    margin-top: 1em;
}
#exchange-list section.status {
    width: 13rem;
    display: inline-block;
    float: left;
}
#exchange-list section.question {
    width: 45rem;
    height: 4em;
    display: inline-block;
}
#exchange-list section big {
    font-size: 1.5em;
    display: block;
}
#exchange-list section .views, #exchange-list section .responds, #exchange-list section .votes {
    display: inline-block;
    width: 3.5rem;
    text-align: center;
    margin: 0.25rem;
    background-color: #eee;
}
#exchange-list section .votes {
    margin-right: 1em;
}
#exchange-list section h3 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.5em;
    vertical-align: top;
    height: 2.5rem;
}
#exchange-list section h3 a {
    color: #222;
    text-decoration: none;
}
#exchange-list section .info {
    font-size: 0.75em;
    height: 1em;
}
#exchange-list section mark {
    /* background-color: #9cf; */
    background-color: #A32;
    color: white;
}
/* profile: Header */
header {
    background: #eee;
    height: 17em;
    padding: 1em;
}
header img {
    float: left;
    margin-right: 1em;
}
header > div {
    float: left;
    width: 42rem;
}
header h1 {
    font-weight: 100;
    margin: 0.25em;
    display: inline-block;
}
header dl {
    display: block;
    width: 50%;
    height: 100%;
}
header dd, header dt {
    display: inline-block;
}
header form.form-list.form-list {
    float: right;
    width: 45%;
}
header form .form-line {
    margin-top: 0;
    margin-bottom: 0.5em;
}
/* Paging */
ul.pagination {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}
ul.pagination li {
    text-align: center;
    display: inline-block;
    width: 2em;
    height: 2em;
    background-color: #666;
}
ul.pagination li a {
    line-height: 2em;
    vertical-align: center;
    color: #fff;
}
