/* Elemental tags */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI Light', 'Roboto Light', 'SeoulNamsan L', '서울남산체 L', 'Malgun Gothic', sans-serif;
}
body {
    margin: 0;
    padding-top: 4rem;
}
/* buttons */
input[type="button"], input[type="submit"], input[type="file"]::-webkit-file-upload-button,
button, .button.button {
    display: inline-block;
    padding: 0.5em 1em;
    font: inherit;
    color: inherit;
    text-decoration: none;
    border-width: 0 0 0.1875em 0;
    border-radius: 0.125em;
    box-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5);
}
/* input fields */
input[type="email"], input[type="number"], input[type="password"], input[type="tel"],
input[type="url"], input[type="text"], input:not([type]), .input-field {
    padding: 0.5em 0.75em;
    border: none;
    border-bottom: 1px solid #f60;
}
/* Public-use classes */
.container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}
.narrow-container {
    width: 512px;
    height: 100%;
    margin: 0 auto;
}

.right.right {
    float: right;
}
/* Message boxes */
.message {
    padding: 1em;
    border-radius: 0.125em;
    box-shadow: 0 0 0.125em #000;
    background-color: #ccc;
}
.message-success {
    background-color: #6f9;
}

.message-error {
    background-color: #f96;
}
/* Buttons */
.button {
    background: #ccc;
    border: solid #999;
}

.button-primary {
    background: #f93;
    border: solid #f60;
}
.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    pointer-events: none;
    display: block;
}
/* Navigation */
nav {
    position: fixed;
    top: 0;
    height: 3rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid red;
}

nav h1 {
    display: inline-block;
    color: #f60;
    font-size: 2rem;
    line-height: 1em;
    margin: 0.75em 0;
}

nav ul {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    display: inline-block;
    float: left;
}

nav li a {
    padding: calc(1.5rem - 0.4375em) 1rem;
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

nav li a:hover {
    color: #f60;
    fill: #f60;
}

nav li.logo {
    color: #f60;
    font-size: 2em;
}

nav li.right {
    font-size: 0.75em;
}

nav .icon {
    width: 2rem;
    height: 2rem;
}
/* Login */
#form-login {
    width: 100%;
    margin: 0 auto;
}

#form-login input[type="submit"] {
    float: right;
}

#form-login input[type="email"], #form-login input[type="number"],
#form-login input[type="password"], #form-login input[type="tel"],
#form-login input[type="url"], #form-login input[type="text"], 
#form-login input:not([type]), #form-login .input-field {
    width: 60%;
}
.form-line label {
    display: inline-block;
    width: 40%;
    font-weight: bold;
}
