/* Elemental tags */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI Light', 'Roboto Light', 'SeoulNamsan L', '서울남산체 L', 'Malgun Gothic', sans-serif;
}
body {
    margin: 0;
    padding-top: 4rem;
}
/* buttons */
input[type="button"], input[type="submit"],
input[type="file"]::-webkit-file-upload-button,
button, .button {
  padding: 0.5em 1em;
  font: inherit;
}
/* input fields */
input[type="email"], input[type="number"],
input[type="password"], input[type="tel"],
input[type="url"], input[type="text"],
input:not([type]), .input-field {
  padding: 0.5em 0.75em;
  border: none;
  border-bottom: 1px solid #f60;
}
/* Public-use classes */
.container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}

.right.right {
    float: right;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid red;
}

nav h1 {
    display: inline-block;
    color: #f60;
    font-size: 2rem;
    line-height: 1em;
    margin: 0.75em 0;
}

nav ul {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    float: left;
}

nav li a {
    padding: calc(2rem - 0.5em) 1rem;
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

nav li.logo {
    color: #f60;
    font-size: 2em;
}

nav li.right {
  font-size: 0.75em;
}
